@import "~bootstrap/scss/bootstrap.scss";

body{
    margin: 0;
    padding: 0;
    background: #F9F9F9;
}

.task--delete{
    display: none;
    border: none;
    outline: none;
    width: 33px;
    height: 33px;
    border-radius: 100%;
    padding: 0;
    margin: 0;
    &:hover{
        color: red;
    }
}

.task{
    &:hover{
        background: #e4e4e4;
        .task--delete{
            display: inline;
        }
    }
}

.loading{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: rgba($color: #e4e4e4, $alpha: .5);
}